{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="{%static 'app.css' %}">
  <title>Document</title>
</head>
<body>
  <header>
  </header>
  <main>
    <div class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos delectus molestias nesciunt, voluptatibus necessitatibus natus iure deserunt repellat quisquam id et dolorem iusto odit fugit quibusdam veniam ut, magnam laudantium?</div>
  </main>
  <footer>
  </footer>
  <script src="scripts.js"></script>
</body>
</html>